.loginScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}
.loginScreen__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #c0c0c0;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}
.loginScreen__container form {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
}

.loginScreen__container form>label {
    margin: 1rem 0 .5rem 0;
}
.loginScreen__container form>input {
    padding: .5rem;
    border-radius: .5rem;
    border: .1rem solid #c0c0c0;
}
.loginScreen__container form>input:focus {
    outline: none;
}
.loginScreen__container form>div {
    color: red;
    font-size: 1.2rem;
    margin: .2rem 0 .4rem 0;
}
.loginScreen__container form>button {
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: #ff8686;
    color: #ffffff;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
}
.loginScreen__container form>button:hover {
    background-color: lightcoral;
} 
